<!DOCTYPE html>
<html ng-app="GP-Say_Hi" lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
  <!-- inject:css -->
  <link rel="stylesheet" href="/src/assets/styles/styles.css">
  <!-- endinject -->
  <title>GP-Say_Hi</title>
</head>
<body >

  <div class="chat-container" ng-controller="chatCtrl as chat">

    <div class="chat-messages">
      <div class="chat-header">
        <div class="chat-logo"></div>
        GP-Say_Hi
      </div>
      <div class="message-wrapper" ng-repeat="message in chat.messages | orderBy: 'timestamp' | limitTo: -chat.messagesLimit">
        <div class="sent-message-animate-{{ message.user === chat.user }}">
          <div class="sent-message-{{ message.user === chat.user }} " ng-cloak>
            <span class="username">{{chat.checkUser(message.user)}}: </span>
            {{ message.msg }}
            <span class="timestamp">{{ message.timestamp | date: 'HH:mm'}}</span>
          </div>
        </div>
      </div>
    </div>

    <form ng-submit="chat.send()" class="chat-input">
      <input type="text" ng-model="chat.textbox" placeholder="Type your message" autofocus>
      <input type="submit" class="send-icon {{ chat.status }}" value=" ">
      <input type="submit" value=" " class="sent-indicator {{ chat.status }}">
    </form>

  </div>

  <!-- bower:js -->
  <script src="/bower_components/angular/angular.js"></script>
  <script src="/bower_components/angular-mocks/angular-mocks.js"></script>
  <!-- endinject -->

  <!-- inject:js -->
  <script src="/src/app/app.module.js"></script>
  <script src="/src/app/services/messagesServiceMock.js"></script>
  <script src="/src/app/services/messagesService.js"></script>
  <script src="/src/app/chat/chat.controller.js"></script>
  <!-- endinject -->
</body>
</html>