html, body, strong, button, small, input, p, div, h1, h2, h3, h4 {
  outline: 0;
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  line-height: 1.4em;
  font-weight: 400;
  font-size: 16px;
  overflow: hidden; }

button, input[type="submit"] {
  cursor: pointer; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important; }

div.chat-container {
  display: -webkit-box;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden; }
  div.chat-container .chat-messages {
    -webkit-box-ordinal-group: 2;
    order: 1;
    -webkit-box-flex: 1;
    flex: 1;
    overflow: scroll;
    overflow-x: hidden;
    padding-bottom: 40px;
    border-top: 10px solid #5588ee; }
  div.chat-container .chat-header {
    text-align: center;
    font-size: 1.5em;
    font-weight: 200;
    color: #22313F;
    padding-top: 10px;
    padding-bottom: 36px;
    -webkit-animation: chat-header-intro 2.2s ease-out 0s;
    animation: chat-header-intro 2.2s ease-out 0s; }
  div.chat-container .chat-logo {
    display: inline-block;
    background: transparent url(../img/logo.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 4.0em;
    height: 4.1em;
    position: relative;
    top: 1.3em;
    left: -1em;
    -webkit-animation: chat-header-intro 2.0s ease-out 0s;
    animation: chat-header-intro 2.0s ease-out 0s; }
  div.chat-container .message-wrapper {
    position: relative; }
    div.chat-container .message-wrapper div.sent-message-animate-true {
      -webkit-animation: sent-message 0.9s ease-out 0s;
      animation: sent-message 0.9s ease-out 0s; }
    div.chat-container .message-wrapper div.sent-message-animate-false {
      -webkit-animation: received-message 0.9s ease-out 0s;
      animation: received-message 0.9s ease-out 0s; }
    div.chat-container .message-wrapper div.sent-message-false {
      float: left;
      margin-top: 10px;
      margin-left: 35px;
      margin-right: 45px;
      border-radius: 8px 8px 8px 0;
      display: inline-block;
      color: #22313F;
      padding: 12px;
      border: 1px solid rgba(32, 40, 70, 0.4);
      font-size: 0.8em;
      font-weight: 400;
      background: rgba(255, 255, 255, 0.9);
      overflow: initial; }
      div.chat-container .message-wrapper div.sent-message-false span.timestamp {
        position: absolute;
        top: 15px;
        left: 5px;
        font-size: 0.9em;
        color: gray; }
      div.chat-container .message-wrapper div.sent-message-false:before {
        border-bottom: 10px solid rgba(32, 40, 70, 0.4);
        border-left: 9px solid transparent;
        position: absolute;
        bottom: -1px;
        left: 26px;
        content: ""; }
    div.chat-container .message-wrapper div.sent-message-true {
      float: right;
      margin-top: 10px;
      margin-left: 45px;
      margin-right: 35px;
      border-radius: 8px 8px 0 8px;
      display: inline-block;
      color: #22313F;
      padding: 14px;
      font-size: 0.8em;
      font-weight: 400;
      background: #C5EFF7;
      overflow: initial; }
      div.chat-container .message-wrapper div.sent-message-true span.timestamp {
        position: absolute;
        top: 15px;
        right: 5px;
        font-size: 0.9em;
        color: gray; }
      div.chat-container .message-wrapper div.sent-message-true:before {
        border-bottom: 9px solid #C5EFF7;
        border-right: 9px solid white;
        position: absolute;
        bottom: 0px;
        right: 27px;
        content: ""; }
    div.chat-container .message-wrapper div.sent-message-true:after, div.chat-container .message-wrapper div.sent-message-false:after {
      display: table;
      content: "";
      clear: both; }
    div.chat-container .message-wrapper span.username {
      font-weight: 600; }
  div.chat-container form.chat-input {
    position: relative;
    -webkit-box-ordinal-group: 3;
    order: 2;
    height: 62px;
    background: #4477bb; }
    div.chat-container form.chat-input input[type="text"] {
      width: 75%;
      color: #C5EFF7;
      margin: 20px;
      background: transparent; }
    div.chat-container form.chat-input input[type="submit"] {
      position: absolute;
      bottom: 10px;
      right: 10px;
      border-radius: 100px;
      background: #C5EFF7;
      color: white;
      width: 42px;
      height: 42px;
      overflow: hidden; }
      div.chat-container form.chat-input input[type="submit"].send-icon {
        background: white url(../img/paper-airplane.png);
        background-size: 80%;
        background-repeat: no-repeat;
        background-position: 4px 12px; }
        div.chat-container form.chat-input input[type="submit"].send-icon.sending {
          -webkit-animation: send-icon-flying 0.9s ease-in-out 0s;
          animation: send-icon-flying 0.9s ease-in-out 0s; }
      div.chat-container form.chat-input input[type="submit"].sent-indicator {
        opacity: 0;
        background: #aaccff;
        width: 42px;
        height: 42px; }
      div.chat-container form.chat-input input[type="submit"].sending {
        -webkit-animation: send-indicator 0.9s ease-out 0s;
        animation: send-indicator 0.9s ease-out 0s; }

/*-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-Animation-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-*/
@-webkit-keyframes chat-header-intro {
  0% {
    -webkit-transform: translate(-100px, 0px);
    transform: translate(-100px, 0px);
    opacity: 0; }
  42% {
    -webkit-transform: translate(-80px, 0px);
    transform: translate(-80px, 0px);
    opacity: 0.8; }
  60% {
    -webkit-transform: translate(3px, 0px) scale(0.96, 1.04);
    transform: translate(3px, 0px) scale(0.96, 1.04);
    opacity: 1; }
  65% {
    -webkit-transform: translate(2px, 0px);
    transform: translate(2px, 0px);
    opacity: 1; }
  80% {
    -webkit-transform: translate(-2px, 0px);
    transform: translate(-2px, 0px);
    opacity: 0.8; }
  90% {
    -webkit-transform: translate(1px, 0px);
    transform: translate(1px, 0px);
    opacity: 1; }
  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1; } }
@keyframes chat-header-intro {
  0% {
    -webkit-transform: translate(-100px, 0px);
    transform: translate(-100px, 0px);
    opacity: 0; }
  42% {
    -webkit-transform: translate(-80px, 0px);
    transform: translate(-80px, 0px);
    opacity: 0.8; }
  60% {
    -webkit-transform: translate(3px, 0px) scale(0.96, 1.04);
    transform: translate(3px, 0px) scale(0.96, 1.04);
    opacity: 1; }
  65% {
    -webkit-transform: translate(2px, 0px);
    transform: translate(2px, 0px);
    opacity: 1; }
  80% {
    -webkit-transform: translate(-2px, 0px);
    transform: translate(-2px, 0px);
    opacity: 0.8; }
  90% {
    -webkit-transform: translate(1px, 0px);
    transform: translate(1px, 0px);
    opacity: 1; }
  100% {
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1; } }

@-webkit-keyframes sent-message {
  0% {
    color: rgba(32, 40, 70, 0.9);
    -webkit-transform: translate(100px, 50px);
    transform: translate(100px, 50px);
    opacity: 0; }
  42% {
    color: rgba(32, 40, 70, 0.9);
    -webkit-transform: translate(80px, 40px);
    transform: translate(80px, 40px);
    opacity: 0.8; }
  60% {
    color: rgba(144, 134, 251, 0.3);
    -webkit-transform: translate(-3px, -7px);
    transform: translate(-3px, -7px);
    opacity: 1; }
  80% {
    color: rgba(32, 40, 70, 0.5);
    -webkit-transform: translate(2px, 3px);
    transform: translate(2px, 3px);
    opacity: 1; }
  90% {
    color: rgba(32, 40, 70, 0.7);
    -webkit-transform: translate(-1px, -2px);
    transform: translate(-1px, -2px);
    opacity: 1; }
  100% {
    color: rgba(32, 40, 70, 0.9);
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1; } }

@keyframes sent-message {
  0% {
    color: rgba(32, 40, 70, 0.9);
    -webkit-transform: translate(100px, 50px);
    transform: translate(100px, 50px);
    opacity: 0; }
  42% {
    color: rgba(32, 40, 70, 0.9);
    -webkit-transform: translate(80px, 40px);
    transform: translate(80px, 40px);
    opacity: 0.8; }
  60% {
    color: rgba(144, 134, 251, 0.3);
    -webkit-transform: translate(-3px, -7px);
    transform: translate(-3px, -7px);
    opacity: 1; }
  80% {
    color: rgba(32, 40, 70, 0.5);
    -webkit-transform: translate(2px, 3px);
    transform: translate(2px, 3px);
    opacity: 1; }
  90% {
    color: rgba(32, 40, 70, 0.7);
    -webkit-transform: translate(-1px, -2px);
    transform: translate(-1px, -2px);
    opacity: 1; }
  100% {
    color: rgba(32, 40, 70, 0.9);
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1; } }

@-webkit-keyframes received-message {
  0% {
    color: rgba(32, 40, 70, 0.9);
    -webkit-transform: translate(-100px, 0px);
    transform: translate(-100px, 0px);
    opacity: 0; }
  42% {
    color: rgba(32, 40, 70, 0.9);
    -webkit-transform: translate(-80px, 0px);
    transform: translate(-80px, 0px);
    opacity: 0.8; }
  60% {
    color: rgba(122, 214, 184, 0.9);
    -webkit-transform: translate(3px, 0px);
    transform: translate(3px, 0px);
    opacity: 1; }
  80% {
    color: rgba(32, 40, 70, 0.6);
    -webkit-transform: translate(-2px, 0px);
    transform: translate(-2px, 0px);
    opacity: 1; }
  90% {
    color: rgba(32, 40, 70, 0.8);
    -webkit-transform: translate(1px, 0px);
    transform: translate(1px, 0px);
    opacity: 1; }
  100% {
    color: rgba(32, 40, 70, 0.9);
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1; } }

@keyframes received-message {
  0% {
    color: rgba(32, 40, 70, 0.9);
    -webkit-transform: translate(-100px, 0px);
    transform: translate(-100px, 0px);
    opacity: 0; }
  42% {
    color: rgba(32, 40, 70, 0.9);
    -webkit-transform: translate(-80px, 0px);
    transform: translate(-80px, 0px);
    opacity: 0.8; }
  60% {
    color: rgba(122, 214, 184, 0.9);
    -webkit-transform: translate(3px, 0px);
    transform: translate(3px, 0px);
    opacity: 1; }
  80% {
    color: rgba(32, 40, 70, 0.6);
    -webkit-transform: translate(-2px, 0px);
    transform: translate(-2px, 0px);
    opacity: 1; }
  90% {
    color: rgba(32, 40, 70, 0.8);
    -webkit-transform: translate(1px, 0px);
    transform: translate(1px, 0px);
    opacity: 1; }
  100% {
    color: rgba(32, 40, 70, 0.9);
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1; } }

@-webkit-keyframes send-indicator {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1; }
  20% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1; }
  60% {
    -webkit-transform: scale(5);
    transform: scale(5);
    opacity: 0.5; }
  100% {
    -webkit-transform: scale(10);
    transform: scale(10);
    opacity: 0; } }

@keyframes send-indicator {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1; }
  20% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1; }
  60% {
    -webkit-transform: scale(5);
    transform: scale(5);
    opacity: 0.5; }
  100% {
    -webkit-transform: scale(10);
    transform: scale(10);
    opacity: 0; } }

@-webkit-keyframes send-icon-flying {
  0% {
    display: absolute;
    background-color: white;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1; }
  30% {
    display: absolute;
    background-color: rgba(255, 255, 255, 0);
    /* transform: translate(-10px,-30px) rotate(-45deg); */
    opacity: 1; }
  /*70%  { display: absolute; background-color: rgba(255, 255, 255, 0); transform: translate(-30px,-80px) rotate(-60deg); opacity: 0.5 } */
  100% {
    display: absolute;
    background-color: rgba(255, 255, 255, 0);
    -webkit-transform: translate(-200px, -400px) rotate(-120deg);
    transform: translate(-200px, -400px) rotate(-120deg);
    opacity: 0; } }

@keyframes send-icon-flying {
  0% {
    display: absolute;
    background-color: white;
    -webkit-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
    opacity: 1; }
  30% {
    display: absolute;
    background-color: rgba(255, 255, 255, 0);
    /* transform: translate(-10px,-30px) rotate(-45deg); */
    opacity: 1; }
  /*70%  { display: absolute; background-color: rgba(255, 255, 255, 0); transform: translate(-30px,-80px) rotate(-60deg); opacity: 0.5 } */
  100% {
    display: absolute;
    background-color: rgba(255, 255, 255, 0);
    -webkit-transform: translate(-200px, -400px) rotate(-120deg);
    transform: translate(-200px, -400px) rotate(-120deg);
    opacity: 0; } }
